
.customer-list {
  a {
    display: contents;

    .card-body {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      font-size: 0.85rem !important;


      .firstname-lastname {
        display: flex;
        flex-direction: row;

        img {
          width: 70px;
          height: 70px;
          border-radius: 40px;
          vertical-align: middle;
          margin-right: 25px;
        }

        > div {
          margin: auto 0;
        }
      }

      .contact {
        display: flex;
        flex-direction: column;
      }

      .function {
        .function-text {
          display: grid;

          span:first-child {
            display: inherit;
            position: relative;
            top: -10px;
            font-size: 0.7rem;
          }

          span:last-child {
            bottom: 8px;
            position: relative;
          }
        }
      }

      .company {
        .company-text {
          display: grid;

          span:first-child {
            display: inherit;
            position: relative;
            top: -10px;
            font-size: 0.7rem;
          }

          span:last-child {
            bottom: 8px;
            position: relative;
          }
        }
      }

    }

  }
}


.customer-view {
  font-size: 1rem;
  .value-group {
    margin-bottom: 20px;

    > div {
      display: grid;

      span:first-child {
        display: inherit;
        position: relative;
        top: -10px;
        font-size: 0.7rem;
      }

      span:last-child {
        bottom: 8px;
        position: relative;
      }
    }
  }
}

