
/* 38.Landing Page */
//.landing-page {
//  font-size: 1rem;
//  line-height: 1.6rem;
//  color: $secondary-color;
//
//  @include respond-below(sm) {
//    font-size: 0.9rem;
//    line-height: 1.4rem;
//  }
//
//  .mobile-menu {
//    position: fixed;
//    top: 0;
//    bottom: 0;
//    right: 0;
//    transform: translateX(300px);
//    z-index: 25;
//    width: 300px;
//    background: $background-color;
//    box-shadow: initial;
//
//    &.default-transition {
//      transition: transform 0.5s, box-shadow 0.5s;
//    }
//  }
//
//  .logo-mobile {
//    display: block;
//    text-align: center;
//    padding: 3rem 2rem;
//    span{
//      display: inline-block;
//      width: 100%;
//      height: 100%;
//     // background: url($lpLogoPathPinned);
//      background-repeat: no-repeat;
//      svg{
//        height: 50% !important;
//        width: 100% !important;
//      }
//    }
//  }
//
//  .main-container {
//    overflow: hidden;
//  }
//
//  &.show-mobile-menu {
//    .mobile-menu {
//      transform: translateX(0);
//      @include depth(2);
//    }
//
//    .main-container {
//
//      .content-container,
//      nav {
//        transform: translateX(-300px);
//      }
//    }
//  }
//
//  .content-container {
//    transition: transform 0.5s;
//  }
//
//  p {
//    font-size: 1rem;
//    line-height: 1.6rem;
//    color: $secondary-color;
//
//    @include respond-below(sm) {
//      font-size: 0.9rem;
//      line-height: 1.4rem;
//    }
//  }
//
//  h1 {
//    font-size: 3rem;
//    color: $theme-color-1;
//    margin-bottom: 2rem;
//
//    @include respond-below(sm) {
//      font-size: 2rem;
//    }
//  }
//
//  h2 {
//    font-size: 1.8rem;
//    color: $theme-color-1;
//    margin-bottom: 2rem;
//
//    @include respond-below(md) {
//      font-size: 1.6rem;
//    }
//
//    @include respond-below(sm) {
//      font-size: 1.2rem;
//    }
//  }
//
//  h3 {
//    font-size: 1.4rem;
//    line-height: 1.4;
//    color: $theme-color-1;
//
//    @include respond-below(sm) {
//      font-size: 1.1rem;
//    }
//  }
//
//  .semi-rounded {
//    border-radius: 1.2rem !important;
//  }
//
//  .dropdown-toggle::after {
//    opacity: 0.7;
//  }
//
//  .btn-outline-semi-light {
//    border: 1px solid rgba($button-text-color, 0.3);
//    color: $button-text-color;
//    background: transparent;
//
//    &:hover,
//    &:active {
//      border: 1px solid darken($theme-color-1, 10%);
//      background: darken($theme-color-1, 10%);
//    }
//  }
//
//  .landing-page-nav {
//    z-index: 5 !important;
//    transition: top 0.5s, background 0.5s, box-shadow 0.2s, opacity 0.2s,
//    transform 0.5s !important;
//    top: 0;
//    position: fixed;
//    width: 100%;
//    background: transparent;
//    box-shadow: initial;
//
//    .container {
//      height: $main-menu-width;
//
//      @include respond-below(xl) {
//        height: $main-menu-width-lg;
//      }
//
//      @include respond-below(lg) {
//        height: $main-menu-width-md;
//      }
//
//      @include respond-below(sm) {
//        height: $main-menu-width-xs;
//      }
//    }
//
//    .btn {
//      padding-right: 1.75rem !important;
//      padding-left: 1.75rem !important;
//    }
//
//    .main-logo {
//      width: 120px;
//      height: 40px;
//
//      .white {
//        display: inline-block;
//        width: 120px;
//        height: 40px;
//        background: url($lpLogoPath);
//        background-repeat: no-repeat;
//      }
//
//      .dark {
//        width: 120px;
//        height: 40px;
//        background: url($lpLogoPathPinned);
//        background-repeat: no-repeat;
//        display: none;
//      }
//    }
//
//    .mobile-hamburger-button {
//      font-size: 20px;
//      display: none;
//
//      @include respond-below(md) {
//        display: block;
//      }
//    }
//
//    .navbar-nav {
//      height: 100%;
//      position: relative;
//
//      li {
//        height: 100%;
//        padding-left: 1.5rem;
//        padding-right: 1.5rem;
//        position: relative;
//
//        &:last-of-type {
//          padding-right: 0;
//        }
//
//        &.active::before {
//          content: " ";
//          background: $button-text-color;
//          border-radius: 10px;
//          position: absolute;
//          width: calc(100% - 1.5rem);
//          height: 4px;
//          left: 0;
//          right: 0;
//          margin: 0 auto;
//          top: 0;
//        }
//
//        @include respond-below(lg) {
//          padding-left: 1rem;
//          padding-right: 1rem;
//
//          &:last-of-type {
//            padding-right: 0;
//          }
//        }
//      }
//
//      .nav-item>a,
//      .nav-item>.dropdown>a {
//        color: $button-text-color;
//        font-family: Nunito, sans-serif;
//        font-size: 1rem;
//        display: inline-block;
//        transform: translateY(-50%);
//        margin-top: 57px;
//
//        @include respond-below(xl) {
//          margin-top: 53px;
//        }
//
//        @include respond-below(lg) {
//          margin-top: 50px;
//        }
//      }
//
//      .nav-item:not(.active)>a,
//      .nav-item:not(.active) .dropdown>a {
//
//        &:hover:not(.btn),
//        &:active:not(.btn) {
//          opacity: 0.8;
//        }
//      }
//
//      .dropdown {
//        height: 80px;
//        position: relative;
//
//        &:hover>.dropdown-menu {
//          display: block;
//        }
//
//        &>.dropdown-toggle:active {
//          pointer-events: none;
//        }
//
//        .dropdown-menu {
//          position: absolute;
//          margin-top: 0;
//        }
//
//        a.dropdown-item {
//          font-size: 0.8rem;
//          color: $primary-color;
//          padding-bottom: 0.5rem;
//
//          &.active,
//          &:active {
//            color: $button-text-color;
//          }
//        }
//      }
//    }
//  }
//
//  .landing-page-nav.headroom--unpinned {
//    top: -125px;
//  }
//
//  .landing-page-nav.headroom--not-top.headroom--pinned {
//    background: $foreground-color;
//    @include depth(1);
//
//    .main-logo .white {
//      display: none;
//    }
//
//    .main-logo .dark {
//      display: inline-block;
//    }
//
//    .navbar-nav {
//      a {
//        color: $primary-color;
//
//        &:hover,
//        &:active {
//          color: $theme-color-1;
//        }
//      }
//
//      a.dropdown-item {
//        &:focus {
//          color: $button-text-color;
//        }
//      }
//
//      li {
//        &.active::before {
//          content: " ";
//          background-color: $theme-color-1;
//        }
//      }
//
//      .btn-outline-semi-light {
//        border: 1px solid rgba($theme-color-1, 0.3);
//        color: $theme-color-1;
//
//        &:hover,
//        &:active {
//          border: 1px solid $theme-color-1;
//          background: $theme-color-1;
//          color: $button-text-color;
//        }
//      }
//    }
//
//    &.headroom--unpinned {
//      background: transparent;
//    }
//  }
//
//  .landing-page-nav.headroom--top {
//    .mobile-hamburger-button {
//      color: $button-text-color;
//    }
//  }
//
//  .section {
//    margin-bottom: 150px;
//    padding-top: 100px;
//    padding-bottom: 100px;
//
//    @include respond-below(md) {
//      margin-bottom: 100px;
//      padding-top: 60px;
//    }
//
//    &.home {
//      background: url($lpBackgroundHome);
//      background-repeat: no-repeat;
//      background-position-y: 0;
//      background-color: transparent;
//      height: 1440px;
//      margin-bottom: 0;
//      padding-top: 0;
//      padding-bottom: 0;
//      position: relative;
//
//      @include respond-below(xs) {
//        background-position-y: -100px;
//        height: 1340px;
//      }
//    }
//
//    &.subpage {
//      background: url($lpBackgroundSub);
//      height: 690px;
//      background-position-y: -350px;
//      background-repeat: no-repeat;
//
//      @include respond-below(xl) {
//        background-position-y: -400px;
//        height: 640px;
//      }
//
//      @include respond-below(md) {
//        background-position-y: -540px;
//        height: 520px;
//      }
//
//      @include respond-below(sm) {
//        background-position-y: -620px;
//        height: 450px;
//      }
//    }
//
//    &.subpage-long {
//      background: url($lpBackgroundSub);
//      height: 900px;
//      background-repeat: no-repeat;
//      background-position-y: -180px;
//
//      @include respond-below(md) {
//        background-position-y: -220px;
//        height: 830px;
//      }
//
//      @include respond-below(sm) {
//        background-position-y: -310px;
//        height: 760px;
//      }
//    }
//
//    &.footer {
//      background: url($lpBackgroundFooter);
//      background-color: $foreground-color;
//      background-repeat: no-repeat;
//      padding-bottom: 0;
//    }
//  }
//
//  .section.background {
//    background: $foreground-color;
//    position: relative;
//    padding-top: 100px;
//    padding-bottom: 100px;
//
//    @include respond-below(md) {
//      padding-top: 60px;
//      padding-bottom: 60px;
//    }
//
//    &::before {
//      content: " ";
//      width: 100%;
//      height: 70px;
//      position: absolute;
//      top: -70px;
//      background: url($lpBackgroundEllipsisTop);
//      background-size: cover;
//      background-position: center;
//    }
//
//    &::after {
//      content: " ";
//      width: 100%;
//      height: 70px;
//      position: absolute;
//      bottom: -70px;
//      background: url($lpBackgroundEllipsisBottom);
//      background-size: cover;
//      background-position: center;
//    }
//
//    &.background-no-bottom {
//      &::after {
//        content: "";
//        background: initial;
//        width: initial;
//        height: initial;
//      }
//    }
//  }
//
//  .background-white {
//    background: $button-text-color;
//  }
//
//  .mobile-hero {
//    margin-left: 50%;
//    transform: translateX(-50%);
//    max-width: 135%;
//    margin-bottom: 3rem;
//  }
//
//  .home-row {
//    padding-top: 180px;
//    margin-bottom: 70px;
//
//    @include respond-below(xl) {
//      padding-top: 120px;
//    }
//
//    @include respond-below(md) {
//      padding-top: 110px;
//    }
//  }
//
//  .home-text {
//    margin-top: 40px;
//
//    p {
//      color: $button-text-color;
//      font-size: 1.1rem;
//
//      @include respond-below(sm) {
//        font-size: 0.9rem;
//        line-height: 1.4rem;
//      }
//    }
//
//    .display-1 {
//      font-size: 3rem;
//      line-height: 3.2rem;
//      margin-bottom: 1.1em;
//      color: $button-text-color;
//
//      @include respond-below(md) {
//        font-size: 1.8rem;
//        line-height: 2.5rem;
//      }
//
//      @include respond-below(sm) {
//        font-size: 1.7rem;
//        line-height: 2.3rem;
//      }
//
//      @include respond-below(xs) {
//        font-size: 1.6rem;
//        line-height: 2.2rem;
//      }
//    }
//
//    @include respond-below(sm) {
//      margin-top: 0;
//    }
//  }
//
//  .review-carousel {
//    margin-top: 5rem;
//
//    .owl-stage-outer {
//      padding-top: 5px;
//    }
//  }
//
//  .home-carousel {
//    .owl-stage-outer {
//      padding-top: 5px;
//    }
//
//    .card {
//      .detail-text {
//        padding: 1rem;
//        margin-bottom: 0;
//
//        @include respond-below(sm) {
//          padding: 0.25rem;
//        }
//      }
//
//      .btn-link {
//        @include respond-below(sm) {
//          padding: 0.25rem;
//        }
//      }
//    }
//  }
//
//  i.large-icon {
//    font-size: 60px;
//    line-height: 110px;
//    background: -webkit-gradient(linear,
//            left top,
//            left bottom,
//            from(#{$theme-color-2}),
//            to(#{$theme-color-1}));
//    background-clip: text;
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//    display: initial;
//
//    @include respond-below(sm) {
//      line-height: 90px;
//    }
//  }
//
//  .btn-circle {
//    padding: 0;
//    width: 50px;
//    height: 50px;
//    border-radius: 30px;
//    text-align: center;
//    font-size: 14px;
//  }
//
//  .btn-circle.hero-circle-button {
//    position: absolute;
//    bottom: 80px;
//
//    i {
//      padding-top: 18px;
//      display: inline-block;
//    }
//  }
//
//
//
//  .newsletter-input-container {
//    margin-top: 5rem;
//
//    .input-group {
//      border-radius: 50px;
//      @include depth(2);
//    }
//
//    input {
//      border-top-left-radius: 50px;
//      border-bottom-left-radius: 50px;
//      border-color: transparent !important;
//      padding: 0.75rem 1.75rem 0.75rem;
//      font-size: 0.9rem;
//    }
//
//    button {
//      @include respond-below(sm) {
//        padding: 1rem 1.5rem 0.9rem;
//      }
//    }
//  }
//
//  .footer {
//    .footer-content {
//      padding-top: 210px;
//
//      @include respond-below(sm) {
//        padding-top: 140px;
//      }
//
//      @include respond-below(xs) {
//        padding-top: 80px;
//      }
//    }
//
//    .footer-circle-button {
//      margin-top: 80px;
//      margin-right: 20px;
//
//      @include respond-below(md) {
//        margin-top: 110px;
//      }
//
//      i {
//        padding-top: 15px;
//        display: inline-block;
//      }
//    }
//
//    .footer-logo {
//      width: 140px;
//      margin-bottom: 70px;
//    }
//
//    .footer-menu {
//      p {
//        color: $button-text-color;
//        font-size: 1rem;
//      }
//
//      a {
//        font-size: 1rem;
//        color: $button-text-color;
//
//        &:hover,
//        &:focus {
//          color: darken($theme-color-1, 20%);
//        }
//      }
//
//      .collapse-button {
//        i {
//          font-size: 0.75rem;
//          margin-left: 5px;
//        }
//
//        &:hover,
//        &:focus {
//          color: $button-text-color;
//        }
//      }
//    }
//
//    .separator {
//      opacity: 0.3;
//    }
//
//    .copyright {
//      p {
//        color: $button-text-color;
//      }
//    }
//
//    .social-icons {
//      ul {
//        margin-bottom: 0;
//      }
//
//      li {
//        margin-left: 0.5rem;
//        margin-right: 0.5rem;
//
//        a {
//          color: $button-text-color;
//          font-size: 1.2rem;
//
//          &:hover,
//          &:active {
//            color: rgba($button-text-color, 0.7);
//          }
//        }
//      }
//    }
//  }
//
//  .feature-image-left {
//    float: right;
//  }
//
//  .feature-image-left,
//  .feature-image-right {
//    @include respond-below(sm) {
//      margin-left: 50%;
//      transform: translateX(-50%);
//      max-width: 115%;
//      float: initial;
//    }
//  }
//
//  .heading-team {
//    @include respond-below(sm) {
//      text-align: center;
//    }
//  }
//
//  .mobile-menu {
//    text-align: center;
//
//    img {
//      width: 100px;
//      margin-top: 3rem;
//      margin-bottom: 3rem;
//    }
//
//    ul {
//      text-align: left;
//
//      li {
//        padding: 0.5rem 2.5rem;
//
//        a {
//          font-size: 0.9rem;
//        }
//      }
//    }
//
//    .dropdown {
//      .dropdown-menu {
//        position: static !important;
//        background: initial;
//        border: initial;
//        padding: initial;
//        margin: initial;
//        transform: initial !important;
//        margin-top: 0.5rem;
//      }
//
//      a.dropdown-item {
//        color: $primary-color;
//        padding-bottom: 0.5rem;
//
//        &.active,
//        &:active {
//          color: $button-text-color;
//        }
//      }
//    }
//  }
//
//  .side-bar {
//    @include respond-below(md) {
//      margin-top: 5rem;
//    }
//
//    .side-bar-content {
//      margin-bottom: 5rem;
//    }
//
//    h2 {
//      @include respond-below(sm) {
//        margin-bottom: 1rem;
//      }
//    }
//  }
//
//  .listing-card-container {
//    background: initial;
//    box-shadow: initial;
//
//    .listing-heading {
//      height: 65px;
//      overflow: hidden;
//    }
//
//    .listing-desc {
//      height: 68px;
//      overflow: hidden;
//      line-height: 1.4;
//      font-size: 1rem;
//
//      @include respond-below(lg) {
//        height: 46px;
//      }
//    }
//  }
//
//  .video-heading {
//    height: 38px;
//    overflow: hidden;
//  }
//
//  .table-heading {
//    box-shadow: initial;
//    background: initial;
//  }
//
//  form.dark-background {
//    input:-webkit-autofill {
//      color: white !important;
//      -webkit-text-fill-color: white !important;
//    }
//
//    .has-float-label>span,
//    .has-float-label label,
//    .has-top-label>span,
//    .has-top-label label {
//      color: rgba($button-text-color, 0.6);
//    }
//
//    .bootstrap-tagsinput,
//    .form-control {
//      background: transparent;
//      border-color: rgba($button-text-color, 0.3);
//      color: $button-text-color;
//
//      &:focus,
//      &:active {
//        border-color: rgba($button-text-color, 0.6);
//      }
//    }
//  }
//
//  .has-float-label>span,
//  .has-float-label label,
//  .has-top-label>span,
//  .has-top-label label {
//    font-size: 64%;
//  }
//
//  .video-js.blog-video {
//    width: 100%;
//    height: 442px;
//    background-color: $background-color;
//
//    @include respond-below(md) {
//      height: 280px;
//    }
//
//    .vjs-poster {
//      background-size: cover;
//    }
//  }
//
//  .video-js.side-bar-video {
//    width: 100%;
//    height: 300px;
//    background-color: $background-color;
//
//    .vjs-poster {
//      background-size: cover;
//    }
//  }
//
//  .feature-icon-container {
//    .detail-text {
//      min-height: 100px;
//
//      @include respond-below(md) {
//        min-height: 70px;
//      }
//    }
//  }
//
//  .screenshots {
//    .nav-tabs {
//      margin-bottom: 0 !important;
//      border: initial;
//
//      .nav-link {
//        border: initial;
//        background: initial !important;
//        padding-right: 40px;
//        padding-left: 40px;
//      }
//
//      .nav-item.show .nav-link:before,
//      .nav-link.active:before {
//        top: initial;
//        bottom: 0;
//      }
//    }
//  }
//
//  .app-image {
//    width: 100%;
//    @include depth(2);
//    border-radius: 1.2rem;
//  }
//
//  .doc-search {
//    border: 1px solid rgba($button-text-color, 0.3);
//    background: transparent;
//    border-radius: 40px;
//    padding: 0.85rem 0.75rem 0.8rem;
//    max-width: 360px;
//
//    input {
//      color: $button-text-color;
//      background: transparent;
//      width: 93%;
//      padding: 0 0.75rem;
//      outline: initial !important;
//      border: initial;
//
//      &::placeholder {
//        color: $button-text-color;
//        opacity: 0.7;
//      }
//    }
//
//    i {
//      font-size: 16px;
//      color: rgba($button-text-color, 0.7);
//    }
//  }
//
//  .feedback-container {
//    a {
//      font-size: 1.3em;
//      color: $secondary-color;
//      margin: 0.5rem;
//
//      &:hover,
//      &:active {
//        color: $theme-color-1;
//      }
//    }
//  }
//
//  .video-play-icon {
//    width: 100%;
//    height: 100%;
//    position: absolute;
//
//    span {
//      position: absolute;
//      font-family: VideoJS;
//      font-weight: 400;
//      font-style: normal;
//      background: rgba(255, 255, 255, 0.7);
//      height: 1.25em;
//      border-radius: .75em;
//      line-height: 1.25em;
//      left: 50%;
//      top: 50%;
//      transform: translate(-50%, -50%);
//      font-size: 1.75em;
//      width: 2em;
//      text-align: center;
//
//      &:before {
//        color: $theme-color-1;
//        content: "\f101";
//      }
//    }
//
//    &:hover,
//    &:active {
//      span {
//        background: rgba(255, 255, 255, 0.85);
//      }
//    }
//  }
//
//  .page-item .page-link {
//    line-height: 1.2;
//  }
//}
