
.ticket-list {
  .card-body {
    padding-top: 20px !important;
    padding-bottom: 20px !important;

    .title-date {
      display: flex;
      flex-direction: column;
    }

    .agent-wrapper {
      //margin-right: 80px;
    }

    .customer-company-wrapper {
      margin-right: 80px;
      display: flex;
      flex-direction: column;

      .customer {
        //margin-bottom: 10px;
        width: 140px
      }

      .company {
        margin-left: 53px;
        margin-bottom: -25px !important;
        display: none;
      }
    }


    .status-priority-wrapper {
      .priority {
        margin-top: 25px;
        margin-bottom: -10px !important;
      }
    }

    .more-metadata-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: space-between;

      .fa {
        margin: 12px 0;

        &:first-child {
          margin-top: -10px;
        }

        &:last-child {
          margin-bottom: -10px;
        }
      }
    }

  }
}

